<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/padrao.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/viverbem.ico') }}" type="image/x-icon">
    <title>Viver Bem | Contato</title>
</head>
<body>
    <header>
        <div class="header_box">
            <div class="header_box__titulo">
                <a href="home.html"><h1>Viver Bem</h1></a>
            </div>
            <div class="header_box__nav">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('mapa') }}">Mapa da cidade</a></li>
                        <li><a href="{{ url_for('mapa') }}#tel_uteis">Tel. Úteis</a></li>
                        <li><a href="{{ url_for('parceiros') }}">Parcerias</a></li>
                        <li><a href="{{ url_for('sobre') }}">Sobre Nós</a></li>
                        <li><a href="{{ url_for('contato') }}"  style="color: var(--vermelho); font-weight: bold;">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="contato">
        <h2>Fale Conosco</h2>
        <p>A Associação ViverBem filma e grava 24h por dia diversos pontos da cidade. Solicite uma imagem! Você tem três maneiras para entrar em contato com a nossa equipe: utilize o formulário lateral para enviar um e-mail, as nossas páginas sociais para enviar uma mensagem inbox, ou o WhatsApp pelo número (21) 96454-0979.</p>
    </section>
    <section id="contato_formulario">
        <div class="contato_formulario_container">
            <div class="contato_formulario__info">
                <div class="contato_formulario__info_tel">
                    <div class="contato_formulario__info_tel__header">
                        <img src="{{ url_for('static', filename='img/telefone.png') }}" alt="Ícone de um Telefone">
                        <span>Ligue para Nós</span>
                    </div>
                    <span>Whatsapp: (21) 96454-0979</span>
                </div>
                <div class="contato_formulario__info_hora">
                    <div class="contato_formulario__info_hora__header">
                        <img src="{{ url_for('static', filename='img/24h.png') }}" alt="Ícone 24 horas">
                        <span>Horário Comercial</span>
                    </div>
                    <span>Seg - Sex : 10h - 20h, Sáb e Dom: Fechado</span>
                </div>
                <div class="contato_formulario__info_social">
                    <a href="https://www.facebook.com/alertaviverbem/" target="_blank" id="btnfacebook">Facebook</a>
                    <a href="https://wa.me/5521964540979" target="_blank" id="btnwhatsapp">WhatsApp</a>
                </div>
            </div>
            <form method="POST" action="/contato">
                <div class="contato_formulario__form">
                    <div class="contato_formulario__campo">
                        <input type="text" id="nome" name="nome" placeholder="Nome" required>
                    </div>
                    <div class="contato_formulario__campo">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="contato_formulario__campo">
                        <input type="text" id="assunto" name="assunto" placeholder="Assunto" required>
                    </div>
                    <div class="contato_formulario__campo">
                        <textarea id="mensagem" name="mensagem" rows="6" placeholder="Mensagem" required></textarea>
                    </div>
                    <div class="contato_formulario__botoes">
                        <button type="reset" id="btnlimpar">Limpar</button>
                        <button type="submit" id="btnenviar">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer_container">
            <div class="footer_logo">
                <img src="{{ url_for('static', filename='img/viverbem-logo.png') }}" alt="Logo do Viver Bem">
                <div class="footer_logo__social">
                    <a href="https://www.youtube.com/@AlertaViverBem" target="_blank"><img src="{{ url_for('static', filename='img/youtube2.png') }}" alt="Logo do YouTube"></a>
                    <a href="https://x.com/ViverBemOrg" target="_blank"><img src="{{ url_for('static', filename='img/x.png') }}" alt="Logo do X"></a>
                    <a href="https://www.facebook.com/alertaviverbem/" target="_blank"><img src="{{ url_for('static', filename='img/facebook2.png') }}" alt="Logo do Facebook"></a>
                    <a href="https://www.instagram.com/alertaviverbem?igsh=MWQ0aWE5eGhhZnF3dg==" target="_blank"><img src="{{ url_for('static', filename='img/instagram2.png') }}" alt="Logo do Instagram"></a>
                </div>
            </div>
            <div class="footer_viver-bem">
                <h1>Viver Bem</h1>
                <ul>
                    <a href="sobre.html#sobre-nos"><li>Quem somos</li></a>
                    <a href="sobre.html#viver-bem-midia"><li>Viver bem na mídia</li></a>
                    <a href="parceiros.html"><li>Parcerias</li></a>
                    <a href="contato.html"><li>Contato</li></a>
                </ul>
            </div>
            <div class="footer_ferramentas">
                <span>Ferramentas</span>
                <ul>
                    <a href="mapa.html"><li>Mapa da cidade</li></a>
                    <a href="mapa.html#tel_uteis"><li>Tel. Úteis</li></a>
                </ul>
            </div>
            <div class="footer_social">
                <span>Social</span>
                <ul>
                    <a href="https://www.facebook.com/alertaviverbem/" target="_blank"><li>Facebook</li></a>
                    <a href="https://www.instagram.com/alertaviverbem?igsh=MWQ0aWE5eGhhZnF3dg==" target="_blank"><li>Instagram</li></a>
                    <a href="https://x.com/ViverBemOrg" target="_blank"><li>Twitter</li></a>
                    <a href="https://www.youtube.com/@AlertaViverBem" target="_blank"><li>YouTube</li></a>
                </ul>
            </div>
        </div>
        <div class="footer_copyright">
            <span>©️ Copyright Viver Bem</span>
        </div>
    </footer>
</body>
</html>
